.select {
  width: 250px;
  height: 40px;
  position: relative;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #f1f1f1;
}
.select-selected {
  height: 40px;
  line-height: 40px;
}

.select-items {
  width: 100%;
  left: 0;
  top: 40px;
  position: absolute;
  z-index: 2;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background-color: #fff;
  overflow-x: auto;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.select-items > * {
  display: block;
  padding: 10px 20px;
}
